@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-Regular.woff2') format('woff2'),
        url('InterUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-Medium.woff2') format('woff2'),
        url('InterUI-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
  font-family: "Inter UI";
  font-weight: 400;
  padding-left: 130px;
  line-height: 1.2;
}

footer {
  font-size: 14px;
  text-align: right;
  padding: 40px;
}

.narrowParagraph {
    max-width: 20em;
}

.about {
      font-size: 1.3rem;
      line-height: 1.4;
}

.projectTitle {
  padding-top: 70px;
  font-size: 1.3rem;
}

.year{
  padding-right: 1rem;
  margin-bottom: 2px;
  opacity: .5;
}

.wrapper {
    height: auto;
    margin: 0;
    overflow: hidden;
    padding-top: 10%;
}

.smallWrapper {
      height: auto;
      margin: 0;
      overflow: hidden;
      padding-top: 5%;
}

@media screen and (max-width: 600px){
  body{
    padding-left: 75px;
    margin-right: 0px;
  }
  .embed{
    padding-right:0rem;
  }
}


/* LISTS */
ul {
  list-style-type: none;
  line-height: 1.5;
  padding: 0;
  padding-top: 30px;
  margin: 0;
}

ul.writing{
  line-height: 3;
}

/* EMBEDS */

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
  *zoom: 1;
}

.embed {
    float: left;
    _display: inline;
    width: 20%;
    padding-top: 4rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    text-align: center;
}



/*LINKS*/
a {
    color: black;
    text-decoration: none;
    font-weight: 550;
    transition: color .15s ease-in;
}

a.info{
  padding-right: 2rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 2px;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
}

.hover-yellow:hover {
  color: #faad3f;
}

.hover-yellow:focus {
   color: #faad3f;
 }


@media only screen and (max-width: 736px) {
  .year{
    display: none;
    padding-right: 0rem;
    margin-bottom: 0px;
  }

}


/*-----------------------------------------------*/

.col:before, .cf:after {
    content: " ";
    display: table;
}

.col:after {
    clear: both;
}

.col {
    *zoom: 1;
}

.db {
    display: block;
}

.fl {
    float: left;
    _display: inline;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.black {
    color: #000;
}

.pa2 {
    padding: .5rem;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.no-underline {
    text-decoration: none;
}

.grow {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out;
}

.grow:hover, .grow:focus {
    transform: scale(1.05);
}

.grow:active {
    transform: scale(.9);
}

@media screen and (min-width: 30em) {
    .w-25-ns {
        width: 40%;
    }

    .w-50-ns {
        width: 50%;
    }
}
